@model CommentEditDto

<div class="container mt-5" style="max-width: 600px;">
    <h4>Delete Comment</h4>

    <form asp-action="Delete" asp-controller="Comment" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="PostId" />
        <div class="mb-3">
            <textarea disabled asp-for="Content" class="form-control" rows="4" required></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Details" asp-controller="Post" asp-route-id="@Model.PostId" class="btn btn-secondary">Cancel</a>
    </form>
</div>
