html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
}

.container-fluid{
    padding:0;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.custom-navbar {
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    padding: 1rem;
}

.navbar-brand {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.navbar .nav-link {
    transition: 0.2s ease-in-out;
}

.navbar .nav-link:hover {
        opacity: 0.8;
}

.hero-section {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.hero-section h1,
.hero-section p {
    margin: 0;
}